**Integrantes**

Kendra Artavia Caballero

Alexia Alvarado Alfaro

Jose Soto Perez

Johey Artavia Barrantes

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# country: Nombre pais.
# iso3: Es una abreviacion de cada pais con 3 letras.
# year: Año de muerte.
# month: Mes de muerte.
# sex: Sexo (Femenino o Masculino).
# age_group: Grupo de edad por intervalos(0 a 24, 25 a 34, 35 a 44, ..., 85 o más).
# type: Tipo de estimación para determinado año y mes (reportado o previsto)
# expected.mean: Media de muertes esperadas (valor esperado teórico) por todas las causas por ubicación, año y mes.
# acm.mean: Media de muertes estimadas (basado en datos reales recopilados) por todas las causas por ubicación, año y mes.
# excess.mean*: Media de muertes en exceso asociadas con la pandemia de COVID-19 por todas las causas por ubicación, año y mes.


df1 = pd.read_csv('WHO_COVID_Excess_Deaths_By_Year_Month_Sex_And_Age.csv')
data1 = pd.DataFrame(df1)
print("Data 1")
print(data1)

Data 1
          Country iso3  year  month       type  expected.mean  acm.mean  \
0     Afghanistan  AFG  2020      1  predicted          23088     23425
1     Afghanistan  AFG  2020      2  predicted          22412     22461
2     Afghanistan  AFG  2020      3  predicted          21921     20939
3     Afghanistan  AFG  2020      4  predicted          21207     20137
4     Afghanistan  AFG  2020      5  predicted          20485     21559
...           ...  ...   ...    ...        ...            ...       ...
4651     Zimbabwe  ZWE  2021      8  predicted           9716     11971
4652     Zimbabwe  ZWE  2021      9  predicted           9518     10292
4653     Zimbabwe  ZWE  2021     10  predicted           9385      9678
4654     Zimbabwe  ZWE  2021     11  predicted           9272      9584
4655     Zimbabwe  ZWE  2021     12  predicted           9363     11418

      excess.mean*  cumul.excess.mean*  cumul.excess.low*  cumul.excess.high*
0              337                 337              -5113                7462
1               49                 386              -7458                9907
2             -982                -596             -10256               10303
3            -1071               -1667             -13096               10996
4             1074                -593             -13315               14424
...            ...                 ...                ...                 ...
4651          2254               13120                709               26103
4652           774               13894                840               27202
4653           293               14187                166               27730
4654           311               14499                652               27871
4655          2054               16553               1835               30982

[4656 rows x 11 columns]
Data 2
          country iso3  year     sex age_group       type  expected.mean  \
0     Afghanistan  AFG  2020  Female      0-24  predicted          49084
1     Afghanistan  AFG  2020  Female     25-34  predicted           6453
2     Afghanistan  AFG  2020  Female     35-44  predicted           6118
3     Afghanistan  AFG  2020  Female     45-54  predicted           7712
4     Afghanistan  AFG  2020  Female     55-64  predicted          10062
...           ...  ...   ...     ...       ...        ...            ...
6203     Zimbabwe  ZWE  2021    Male     45-54  predicted           6475
6204     Zimbabwe  ZWE  2021    Male     55-64  predicted           5901
6205     Zimbabwe  ZWE  2021    Male     65-74  predicted           7714
6206     Zimbabwe  ZWE  2021    Male     75-84  predicted           4780
6207     Zimbabwe  ZWE  2021    Male       >85  predicted           1790

      acm.mean  excess.mean*
0        49103             0
1         6691           237
2         6977           860
3         9330          1622
4        12458          2401
...        ...           ...
6203      8091          1616
6204      7102          1201
6205      9016          1302
6206      5375           594
6207      2232           442

[6208 rows x 9 columns]
Máximo: 1578937
Mínimo: 0
Suma: 126664598
          Country iso3  year  month       type  expected.mean  acm.mean  \
0     Afghanistan  AFG  2020      1  predicted          23088     23425
1     Afghanistan  AFG  2020      2  predicted          22412     22461
2     Afghanistan  AFG  2020      3  predicted          21921     20939
3     Afghanistan  AFG  2020      4  predicted          21207     20137
4     Afghanistan  AFG  2020      5  predicted          20485     21559
...           ...  ...   ...    ...        ...            ...       ...
4639     Zimbabwe  ZWE  2020      8  predicted           9847     11046
4640     Zimbabwe  ZWE  2020      9  predicted           9648     10347
4641     Zimbabwe  ZWE  2020     10  predicted           9513      9798
4642     Zimbabwe  ZWE  2020     11  predicted           9405      9831
4643     Zimbabwe  ZWE  2020     12  predicted           9495     10247

      excess.mean*  cumul.excess.mean*  cumul.excess.low*  cumul.excess.high*
0              337                 337              -5113                7462
1               49                 386              -7458                9907
2             -982                -596             -10256               10303
3            -1071               -1667             -13096               10996
4             1074                -593             -13315               14424
...            ...                 ...                ...                 ...
4639          1199                  -2              -7280                7702
4640           699                 697              -6687                8918
4641           286                 983              -7048                9346
4642           426                1408              -7263               10162
4643           752                2161              -7038               11488

[2328 rows x 11 columns]
              country iso3  year     sex age_group       type  expected.mean  \
6207         Zimbabwe  ZWE  2021    Male       >85  predicted           1790
4922  Solomon Islands  SLB  2021    Male     35-44  predicted            157
2554          Ireland  IRL  2021    Male     35-44   reported            390
2555          Ireland  IRL  2021    Male     45-54   reported            823
2556          Ireland  IRL  2021    Male     55-64   reported           1661
...               ...  ...   ...     ...       ...        ...            ...
2762           Jordan  JOR  2020    Male     35-44   reported            899
2763           Jordan  JOR  2020    Male     45-54   reported           2037
2764           Jordan  JOR  2020    Male     55-64   reported           3317
2765           Jordan  JOR  2020    Male     65-74   reported           3930
3104          Lebanon  LBN  2020  Female      0-24   reported           1235

      acm.mean  excess.mean*
6207      2232           442
4922       175            18
2554       422            32
2555       884            60
2556      1797           136
...        ...           ...
2762       971            71
2763      2394           357
2764      4124           809
2765      4916           988
3104      1434           179

[6208 rows x 9 columns]

# Funciones en las tablas

Máximo de la columna expected.mean de dataframe #1

---

In [ ]:
max_value = data1['expected.mean'].max()
print("Máximo para el data frame 1 de la columna expected.mean:", max_value)

Máximo para el data frame 2 de la columna expected.mean: 1578937

Minimo de la columna expected.mean de dataframe #1

---

In [ ]:
min_value = data1['expected.mean'].min()
print("Mínimo para el data frame 1 de la columna expected.mean:", min_value)

Mínimo para el data frame 2 de la columna expected.mean: 0

Suma de la columa expected.mean de dataframe #1

In [ ]:
suma = data1['acm.mean'].sum()
print("Suma para el data frame 1 de la columna expected.mean:", suma)

Suma para el data frame 1 de la columna expected.mean: 126664559

Query del dataframe #1 cuando el año sea igual a 2020

In [ ]:
print(data1.query('year==2020'))

          Country iso3  year  month       type  expected.mean  acm.mean  \
0     Afghanistan  AFG  2020      1  predicted          23088     23425
1     Afghanistan  AFG  2020      2  predicted          22412     22461
2     Afghanistan  AFG  2020      3  predicted          21921     20939
3     Afghanistan  AFG  2020      4  predicted          21207     20137
4     Afghanistan  AFG  2020      5  predicted          20485     21559
...           ...  ...   ...    ...        ...            ...       ...
4639     Zimbabwe  ZWE  2020      8  predicted           9847     11046
4640     Zimbabwe  ZWE  2020      9  predicted           9648     10347
4641     Zimbabwe  ZWE  2020     10  predicted           9513      9798
4642     Zimbabwe  ZWE  2020     11  predicted           9405      9831
4643     Zimbabwe  ZWE  2020     12  predicted           9495     10247

      excess.mean*  cumul.excess.mean*  cumul.excess.low*  cumul.excess.high*
0              337                 337              -5113                7462
1               49                 386              -7458                9907
2             -982                -596             -10256               10303
3            -1071               -1667             -13096               10996
4             1074                -593             -13315               14424
...            ...                 ...                ...                 ...
4639          1199                  -2              -7280                7702
4640           699                 697              -6687                8918
4641           286                 983              -7048                9346
4642           426                1408              -7263               10162
4643           752                2161              -7038               11488

[2328 rows x 11 columns]

Orden ascendente del dataframe #2 segun el año de forman descendente

In [ ]:
print(data2.sort_values(by='year',ascending=False))

              country iso3  year     sex age_group       type  expected.mean  \
6207         Zimbabwe  ZWE  2021    Male       >85  predicted           1790
4922  Solomon Islands  SLB  2021    Male     35-44  predicted            157
2554          Ireland  IRL  2021    Male     35-44   reported            390
2555          Ireland  IRL  2021    Male     45-54   reported            823
2556          Ireland  IRL  2021    Male     55-64   reported           1661
...               ...  ...   ...     ...       ...        ...            ...
2762           Jordan  JOR  2020    Male     35-44   reported            899
2763           Jordan  JOR  2020    Male     45-54   reported           2037
2764           Jordan  JOR  2020    Male     55-64   reported           3317
2765           Jordan  JOR  2020    Male     65-74   reported           3930
3104          Lebanon  LBN  2020  Female      0-24   reported           1235

      acm.mean  excess.mean*
6207      2232           442
4922       175            18
2554       422            32
2555       884            60
2556      1797           136
...        ...           ...
2762       971            71
2763      2394           357
2764      4124           809
2765      4916           988
3104      1434           179

[6208 rows x 9 columns]